.footer-nav {
  margin-bottom: 74px;
  width: 100%;
}

.nav__link:hover {
  opacity: 0.5;
}

.copyright {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #ff25c2;
}
