.footer-nav {
  margin-bottom: 74px;
}

.nav__link:hover {
  opacity: 0.5;
}

.copyright {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  width: 127px;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #ff25c2;
}

@media (max-width: 1199px) {
  .footer-nav {
    margin-bottom: 46px;
  }
}
