.footer-nav {
  margin-bottom: 74px;
}

.nav__link:hover {
  opacity: 0.5;
}

.copyright {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  width: 127px;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #ff25c2;
}

@media (max-width: 1199px) {
  .footer-nav {
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .footer-nav {
    margin-bottom: 37px;
  }
  .menu {
    flex-direction: column;
    gap: 9px;
    text-align: center;
  }

  .copyright {
    margin-bottom: 52px;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .copyright__text {
    font-size: 22px;
    line-height: 26.63px;
  }
}
