.gallery__title {
  margin-bottom: 95px;
  width: 97%;
  font-size: 100px;
  line-height: 74px;
  text-align: center;
  letter-spacing: -0.06em;
}

.gallery__wrapper {
  position: relative;
}

.gallery__slides {
  height: 582px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 30px;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__item {
  width: 100%;
  height: 582px;
  object-fit: cover;
  border-radius: 30px;
}

.description__wrapper {
  position: absolute;
  width: 100%;
  bottom: 90px;
  z-index: 100;
}

.slide__description {
  margin: 0 auto;
  width: 584px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.gallery__controls-wrapper {
  position: absolute;
  bottom: 24.58px;
  width: 100%;
}

.gallery__controls {
  margin: 0 auto;
  width: 120px;
  display: flex;
  gap: 7px;
}

.gallery__control-prev,
.gallery__control-next {
  background: none;
  border: none;
  cursor: pointer;
}

.gallery__control-image {
  width: 45.83px;
  height: 45.83px;
  object-fit: contain;
}

.gallery__control-next:hover {
  opacity: 50%;
}

.gallery__control-prev:hover {
  opacity: 50%;
}

@media (max-width: 1199px) {
  .gallery__title {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .gallery__title {
    margin-bottom: 80px;
    font-size: 45px;
    line-height: 33px;
  }

  .gallery__slides,
  .gallery__item {
    height: 432px;
  }

  .description__wrapper {
    bottom: 58px;
  }

  .slide__description {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .gallery__controls-wrapper {
    bottom: 50%;
  }

  .gallery__controls {
    justify-content: space-between;
    width: unset;
    gap: unset;
  }

  .gallery__control-image {
    width: 34px;
    height: 34px;
  }
}
