.body_fixed {
  overflow: hidden;
}

.header-nav {
  margin-top: 44px;
  margin-bottom: 68px;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 46px;
  text-transform: uppercase;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow-y: auto;
}

.burger-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 97px;
  margin-bottom: 50px;
}

.burger-socials-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.buger-social-media__link {
  font-weight: 700;
  font-size: 35px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 767px) {
  header {
    padding-top: 26.3px;
    padding-bottom: 86.3px;
  }

  .nav {
    display: none;
  }

  .burger-btn {
    display: flex;
    justify-content: center;
  }

  .burger-btn__img {
    height: 31px;
    width: 44px;
    background-image: url("../resources/burger-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    transition: all 0.5s ease;
  }

  .js-burger-btn.burger-btn.burger-btn_open .burger-btn__img {
    position: fixed;
    z-index: 105;
    background-image: url("../resources/burger-button-close.png");
    transition: all 0.5s ease;
  }
}
