.header-nav {
  margin-top: 44px;
  margin-bottom: 68px;
  text-transform: uppercase;
}

.menu {
  margin: 0 auto;
  width: 737px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 46px;
}
