.body_fixed {
  overflow: hidden;
}

.header-nav {
  margin-top: 44px;
  margin-bottom: 68px;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 46px;
  text-transform: uppercase;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 100%;
  height: 100%;
  background: #000000;
  overflow-y: auto;
}

.burger-nav {
  margin-top: 97px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.burger-nav__link {
  font-size: 25px;
  line-height: 30px;
}

.burger-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.burger-socials__link {
  font-weight: 700;
  font-size: 35px;
  line-height: 73.523%;
  letter-spacing: -2.1px;
}

.burger-nav__link:hover,
.burger-socials__link:hover {
  color: #ff25c2;
}

@media (max-width: 767px) {
  header {
    padding-top: 26.3px;
    padding-bottom: 86.3px;
  }

  .header-nav {
    display: none;
  }

  .burger-btn {
    margin-bottom: 15px;
    display: block;
    position: relative;
    top: 17px;
    left: 45%;
    z-index: 120;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid red;
  }

  .burger-btn__line {
    display: block;
    position: absolute;
    top: 18px;
    left: 2px;
    width: 44px;
    height: 6.25px;
    background: rgba(255, 37, 194, 1);
    transition: all 0.5s ease;
  }

  .burger-btn__line::before,
  .burger-btn__line::after {
    content: "";
    display: block;
    position: absolute;
    width: 44px;
    height: 6.25px;
    background-color: rgba(255, 37, 194, 1);
    transition: all 0.4s ease;
  }

  .burger-btn__line::after {
    top: 13px;
  }

  .burger-btn__line::before {
    top: -13px;
  }

  .js-burger-btn.burger-btn.burger-btn_open .burger-btn__line {
    width: 44px;
    transform: rotate(-45deg);
  }

  .js-burger-btn.burger-btn.burger-btn_open .burger-btn__line::after {
    width: 44px;
    transform: rotate(90deg) translate(-13px, 0);
  }

  .js-burger-btn.burger-btn.burger-btn_open .burger-btn__line::before {
    display: none;
  }

  .burger_open {
    opacity: 1;
    visibility: visible;
  }
}
