body {
  font-family: "Inter", sans-serif;
  background: #000;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

h1,
h2,
p,
a {
  color: #fff;
  letter-spacing: -0.03em;
}

h1 {
  font-weight: 700;
  font-size: 150px;
  line-height: 133px;
  letter-spacing: -0.07em;
  color: #ff25c2;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
}

p {
  font-size: 25px;
  line-height: 30px;
}

a {
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 12px;
  }
}
