.socials {
  margin-bottom: 200px;
  padding-top: 68px;
}

.socials-list-box {
  width: 97%;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.socials__link {
  display: block;
  width: 211px;
  font-weight: 700;
  font-size: 60px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.06em;
}

.socials__link:hover {
  color: #ff25c2;
}
